<body class="body">
<h2>CATALOGO PRODOTTI </h2>
<hr>
Codice
<input type="text" placeholder="Inserisci codice" [(ngModel)]="prodotto.codice">
Prezzo
<input type="text" placeholder="Inserisci prezzo" [(ngModel)]="prodotto.prezzo">
Descrizione
<input type="text" placeholder="Inserisci descrizione" [(ngModel)]="prodotto.descrizione">
<br>
<br>
<button (click)="aggiungi()">Aggiungi</button>

<button (click)="conta()">Conta</button>
<br>
<br>
<table align="center" border=3px>
  <th>Codice</th>
  <th>Prezzo</th>
  <th>Descrizione</th>
  <th>Gestisci</th>
  <tr *ngFor="let x of med.prodotti,index as i">

    <td>{{x.codice}}</td>

    <td>{{x.prezzo}} €</td>

    <td>{{x.descrizione}}</td>

    <td>
      <button (click)="cancellaProdotto(prodotto)">X</button>
    </td>
  </tr>
</table>
</body>